@keyframes cctitle {
	from {color: gold;}
	to {color: rgb(255, 123, 0);}
  }

.main {
	background-color: green;
}

.title {
	font-size: 180px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	animation-name: ctitle;
	animation-duration: 4s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

.meds {
    width: 100%;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.presentation {
	text-align: center;
	color: white;
	font-size: 60px;
}

.functions {
	color: white;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
	text-align: center;
}

.functionsls {
	color: white;
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
}

.disclaimers {
	text-align: left;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	animation-name: disclaimertxt;
	animation-duration: 1.25s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

p {
	color: white;
	font-size: 22px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	background-color: black;
}