body {
	background-color: black;
}

@keyframes ctitle {
	from {color: gold;}
	to {color: goldenrod;}
  }

.title{
	font-size: 180px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	animation-name: ctitle;
	animation-duration: 2.5s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}