@keyframes ctitle {
	from {color: gold;}
	to {color: rgb(255, 123, 0);}
  }

@keyframes disclaimertxt {
	from {color: rgb(255, 0, 0);}
	to {color: rgb(121, 0, 0);}
}  

.backimage {
	position: relative;
	text-align: center;
	color: white;
  }

.title{
	font-size: 225px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	animation-name: ctitle;
	animation-duration: 4s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

.meds {
    width: 100%;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.presentation {
	text-align: center;
	color: white;
	font-size: 60px;
}

.functions {
	color: white;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
	text-align: center;
}

.functionsls {
	color: white;
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
}

.disclaimers {
	text-align: left;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	animation-name: disclaimertxt;
	animation-duration: 1.25s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.wipfunctions {
	color: white;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
	text-align: center;
}

.wipfuncs {
	color: white;
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
}

.takeyourmeds {
	color: white;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}


.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

p {
	font-family: 'Rubik', sans-serif;
}

body {
	background-color: rgb(18, 18, 18);
}

hr {
	background-color: white;
}

div {
	min-height: 100px;
}
